<!DOCTYPE html>
<html>
  <head>
    <title>SprintSheet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <a href="/boards">boards</a> |
      <a href="/issues">issue</a> |
      <a href="/users">users</a> |
      <a href="/sprints">sprints</a> |
      <br/>
      <%= yield %>
    </div>
  </body>
</html>
